*, #mainNav .navbar-brand, input, button {
    font-family: "Open Sans", sans-serif;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Scope One", sans-serif;
    text-transform: none;
}

.bg-dark {
    background-color: #C45525!important;
  /*Rooibos chocolat  #C45525  196, 85, 37  $rooibos*/
  /*Moules frites  #345A61  52, 90, 97  $moules*/
  /*Bonbon rigolo  #86EBE6  134, 235, 230  $rigolo*/
  /*Caramel mou  #DE9440  222, 148, 64  $caramel*/
  /*Biscuit trempé  #E8A75D  232, 167, 93  $biscuit*/
}



.super_img {
    position: relative;
    height: auto;
    z-index: 1;
}
img.article{
    position: relative;

    z-index: 20;
}
img.grade{
    position: absolute;

    top:-10px;
    margin-left:-20px;
    z-index: 30;
}
