{% extends 'substitute/base/min_list_base.html' %}

{% block masthead_content %}

        <div class="align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{{ searched_article.product_name }}</h1>
          <hr class="divider my-4">
        </div>

{%  endblock %}

{% block content3 %}



    {% if articles|length_is:"0" %}
        <div class="text-center">
          Aucuns articles ne peuvent substituer votre recherche, votre aliment est TOP!!!
        </div>

    {% else %}
        {% for article in articles %}
            <div class="col-lg-4 col-sm-6 text-center">
              <a href="{% url 'detail' article_id=article.id %}">
                  <img class="img-responsive" src="{{ article.image_url }}" alt="{{ article.product_name }}">
                </a>
                <h3><a href="{% url 'detail' article_id=article.id %}">{{ article.product_name }}</a></h3>
            </div>

            {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
        {% endfor %}

    {% endif %}

{% endblock %}

