{% extends 'substitute/base/full_base.html' %}

{% load static %}

{% block masthead_content %}
    <section class="page-section">
        <div class="align-self-end text-white m-5 p-5">
          <form class="text-right" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
              {% if redirect_to %}
                <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
              {% endif %}
          </form>
        </div>
        {% if form_url == "log_in" %}
            <p>Pas encore de compte !!!</p>

            <a href="{% url 'register' redirect_to=redirect_to %}">Créer mon compte</a>

          {% endif %}
    </section>
    {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}

{% endblock %}
